<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/assets/images/icon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/assets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/assets/css/login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Добро Пожаловать
					</span>
					<span class="login100-form-title p-b-48">
						<img width="54" height="54" src='../static/assets/images/icon.png' />
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="username" name="email" id="username">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="pass" id="password">
						<span class="focus-input100" data-placeholder="Password" onsubmit="login()"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" id="submit" onclick="login()">
								Login
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

<script>
	const usernameValid = "alfa@bank.com";
    const passwordValid = "alfamood2019";


    function login() {
        var email= document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if(email !== usernameValid){
            if (email == ""){
                alert("Email required.");
                return ;
            }
            alert("Email does not exist.");
            return ;
        }
        else if(passwordValid != password){
            if (password == ""){
                alert("Password required.");
                return ;
            }
            alert("Password does not match.");
            return ;
        }
        else {
            document.getElementById("username").value ="";
            document.getElementById("password").value="";

            window.open("{{ url_for('index') }}");
        }

    }

</script>
</body>
</html>